.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.title {
    font-weight: 900;
    line-height: 1.2;
}