@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color styles */
  --sage: rgba(181, 201, 127, 1);
  --taupe: rgba(63, 57, 53, 1);
  --dun: rgba(230, 204, 178, 1);
  --seasalt: rgba(247, 247, 249, 1);
}

