@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color styles */
  --sage: rgba(181, 201, 127, 1);
  --taupe: rgba(63, 57, 53, 1);
  --dun: rgba(230, 204, 178, 1);
  --seasalt: rgba(247, 247, 249, 1);

  /* Text-size styles */
  /* base size: paragraph--main (18px) */
  --heading-1: 2.33rem;
  --heading-2: 2rem;
  --heading-3: 1.33rem;
  --paragraph--main: 1rem;
  --paragraph--large: 1.33rem;
  --paragraph--small: 0.78rem;
  --display--heading: 3.56rem;
  --paragraph--small--bold: 0.78rem;
  --paragraph--large--medium: 1.33rem;

  /* Font weight */
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semibold: 600;
  --font-weight--bold: 700;
  --font-weight--extrabold: 800;
  --font-weight--black: 900;
}
