.input {
  width: 100%;
}

.input input {
  padding: 2rem;
  border-radius: 19px;
  min-width: 20rem;
}

.bghome div div {
  width: 30%;
}

.bghome {
  background-image: url("/Rectangle 48.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .bghome {
  }
}

/* Phone */
@media only screen and (max-width: 480px) {
  .bghome {
  }
}
